:root {
  /* Cores primárias */
  --cor-vermelho: hsl(0, 100%, 67%);
  --cor-amarelo: hsl(39, 100%, 56%);
  --cor-verde: hsl(166, 100%, 37%);
  --cor-azul: hsl(234, 85%, 45%);

  /* Gradientes */
  --grad-azul-claro: hsl(252, 100%, 67%);
  --grad-azul-royal: hsl(241, 81%, 54%);

  /* Neutras */
  --cor-branco: hsl(0, 0%, 100%);
  --cor-azul-palido: hsl(221, 100%, 96%);
  --cor-lavanda: hsl(241, 100%, 89%);
  --cor-cinza-azul: hsl(224, 30%, 27%);

  /* Tipografia */
  --fonte-principal: "Hanken Grotesk", sans-serif;
  --tamanho-base: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  font-size: var(--tamanho-base);
}