:root {
  /* Cores primárias */
  --cor-vermelho: hsl(0, 100%, 67%);
  --cor-amarelo: hsl(39, 100%, 56%);
  --cor-verde: hsl(166, 100%, 37%);
  --cor-azul: hsl(234, 85%, 45%);

  /* Gradientes */
  --grad-azul-claro: hsl(252, 100%, 67%);
  --grad-azul-royal: hsl(241, 81%, 54%);
  --grad-azul-royal-50: hsl(241, 81%, 54%, 0.5);
  --grad-azul-royal-0: hsl(241, 81%, 54%, 0);

  /* Neutras */
  --cor-branco: hsl(0, 0%, 100%);
  --cor-azul-palido: hsl(221, 100%, 96%);
  --cor-lavanda: hsl(241, 100%, 89%);
  --cor-cinza-azul: hsl(224, 30%, 27%);

  /* Tipografia */
  --fonte-principal: "Hanken Grotesk", sans-serif;
  --tamanho-base: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  font-size: var(--tamanho-base);
  background-color: var(--cor-azul-palido);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sumario__container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--cor-branco);
  min-height: 520px;
  max-width: 740px;
  border-radius: 35px;
}

.sumario-resultado__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: linear-gradient(var(--grad-azul-claro), var(--grad-azul-royal));
  height: 520px;
  max-width: 50%;
  padding: 40px;
  border-radius: 35px;
}

.resultado {
  color: var(--cor-lavanda);
  font-size: 24px;
  font-weight: 500;
}

.pontuacao-circulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--grad-azul-royal-50), var(--grad-azul-royal-0));
  width: 200px;
  height: 200px;
  margin-top: 15px;
  border-radius: 50%;
}

.pontuacao {
  color: var(--cor-branco);
  font-size: 70px;
  font-weight: 800;
}

.proporcionalidade {
  color: var(--cor-lavanda);
  font-size: 17px;
}

.classificacao {
  color: var(--cor-branco);
  font-size: 30px;
  margin-top: 0.5rem;
  font-weight: 700;
}

.descricao {
  color: var(--cor-lavanda);
  font-size: 17px;
}

.sumario-resumo__container {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
width: 50%;
height: 520px;
padding:40px;

}

.resumo-titulo{ 
  font-size: 25px;
  font-weight: 700;
  color: var(--cor-cinza-azul); 
}

.status-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
}

.status-item__esquerdo{
  display: flex;
  align-items: center;
  gap: 15px;
}

.reacao{
  background-color: hsla(0, 100%, 67%, 0.07);
  color: var(--cor-vermelho);  
}

.memoria{
  background-color: hsla(39, 100%, 56%, 0.07);
  color: var(--cor-amarelo);
}

.verbal{
  background-color:hsla(166, 100%, 37%, 0.07);
  color: var(--cor-verde);
}

.visual{
  background-color: hsla(234, 85%, 45%, 0.07);
  color: var(--cor-azul);
}

.btn-continuar{
  background-color: var(--cor-cinza-azul);
  width: 100%;
  height: 55px;
  color: var(--cor-branco);
  border-radius: 50px;
  margin-top: 10px;  
  font-size: 18px;
}

.status-item__direito{
  display: flex;
  align-items: center;
  gap: 10px;;
  color: var(--cor-cinza-azul);
  font-weight: 500;
}

.status-item__direito .nota{
  font-size: 18px;
  font-weight: 800;
}

